<form>
  <h2>Contact Us</h2>

  {{input-for value=name error=errors.name label="Name:" name="name"}}
  {{input-for value=email error=errors.email label="Email:" name="email"}}
  {{input-for value=subject error=errors.subject label="Subject:" name="subject"}}

  <div class="input-container" {{bindAttr class="errors.message:error"}}>
    <label for="message">Message: </label>
    {{textarea value=message id="message"}}
    <span class="error-message">{{errors.message}}</span>
  </div>

  <button {{action "submit"}}>Submit</button>
</form>