<form>
  <h2>Contact Us</h2>

  {{input-for name}}
  {{input-for email}}
  {{input-for subject}}

  <div class="input-container" {{bind-attr class="errors.message:error"}}>
    <label for="message">Message: </label>
    {{textarea value=message id="message"}}
    <span class="error-message">{{errors.message}}</span>
  </div>

  <button {{action "submit"}}>Submit</button>
</form>